/* @media screen and (min-width: 768px) {
  .dashboard {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 1fr;
    grid-template-areas:
      "sidebar main"
      "sidebar main";
    height: calc(100vh - 48px);
    border: red solid;
    column-gap: 10px;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: #ffe8e8;
  }

  .main {
    grid-area: main;
  }
} */
.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "dashboard";
}
.header {
  grid-area: header;
}
.dashboard {
  grid-area: dashboard;
}
@media screen and (min-width: 768px) {
  .dashboard {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 1fr;
    grid-template-areas:
      "sidebar boards"
      "sidebar boards";
    height: calc(100vh - 48px);
    column-gap: 10px;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: #ffe8e8;
  }

  .boards {
    grid-area: boards;
  }
}
